


.App-header {
  background-color: #061941;
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(25, 136, 180);
  
}

.picture {
 
  width:1px;
  height:5px;
  
}

