


.App-header {
  background-color: #061941;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
 
  
  font-size: calc(20px + 5vmin);
  color: rgb(212, 29, 178);
  width: 100%;
  height: 100%;
  
}

.App{
 margin-top: 60px;
 margin-bottom: 60px;
 margin-left: 80px;
 margin-right: 80px;
 background-color: rgb(152, 170, 218);
 box-sizing: 30%;

  
}

.picture {
 display: flex;
  width:1px;
  height:13px;
  
}

.container{
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 25px;


 
}

.Navbar-4{
  box-sizing: border-box;
  font-size: 30px;
}

p{ 
  color: white;
  text-align : center !important;

}

.btn {
  border-color: greenyellow;
font-weight: bold;
font-size:60%;
background-color:rgb(95, 209, 164);
align-items: center;
}

.Nav-Btn{ 
background-color: rgb(240, 242, 237);
align-items: center;
Font-weight: bold;
}

